@import "../../styles/mixin.scss";

.hero {
  background-image: url("../../assets/images/background.svg");
  background-size: cover;
  background-position: center;
  height: 273px;
  padding: 20px;
  @include desktop {
    height: 500px;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .hero-content-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffffe0;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 150px;

    @include desktop {
      width: 450px;
      height: 150px;
    }

    .hero-text {
      color: #000000;
      font-size: 24px;
      margin-bottom: 15px;
      font-family: Helvetica Neue;
      font-weight: 200;
      line-height: 32px;
      letter-spacing: 1.9700000286102295px;
      text-align: center;
    }

    .search-bar {
      display: flex;
      flex-direction: row;
      border: 1px solid #000000;
      width: 350px;
      justify-content: center;
      border-radius: 4px;

      input[type="text"] {
        width: 276px;
        height: 35px;
        font-family: Helvetica Neue;
        font-size: 15px;
        font-weight: 300;
        line-height: 15px;
        letter-spacing: 1.2899999618530273px;
        text-align: left;
        margin-left: 15px;
        border: none;
        background-color: inherit;
      }

      button {
        border: none;
        cursor: pointer;
        background-color: transparent;

        img {
          width: 25px;
          height: 22px;
          color: #000000;
        }
      }
    }
  }
}
