@import '../../styles/mixin.scss';

.hero {
    background-image: url('../../assets/images/background.svg'); 
    background-size: cover;
    background-position: center;
    color: white;
    height: 273px; 
    padding: 20px; 
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .hero-content-container{
        background: #FFFFFFE0;

        .hero-text {
            color: #000000;
            font-size: 24px;
            margin-bottom: 20px; 
            font-family: Helvetica Neue;
            font-size: 23px;
            font-weight: 200;
            line-height: 32px;
            letter-spacing: 1.9700000286102295px;
            text-align: left;
            width: 315px;
            height: 64px;
            text-align: center;
          }
          
          .search-bar {
            display: flex;
            position: relative;
            width: Fixed (315px);
            height: Fixed (30px);
            margin-bottom: 10px;
            padding: 6px, 12px, 6px, 12px;
            border-radius: 4px;
            border: 0.5px;
            gap: 8px;

            input[type="text"] {
                flex: 1; 
                width: 276px;
                height: 15px;
                font-family: Helvetica Neue;
                font-size: 12px;
                font-weight: 200;
                line-height: 15px;
                letter-spacing: 1.2899999618530273px;
                text-align: left;
                background: #000000;
              }

               button {
                position: absolute;
                 border: none;
                 cursor: pointer; 
    
                 img {
                    width: 20px;
                    height: 20px;
                    color: #000000;

                  }
              }
          }
    }
  }
  
  
  