@import '../../styles/mixin.scss'; 

.card-container{ 

    background: #F9F4EA;

    &:hover {
      transform: scale(0.95); // Increase the size of the card on hover
      transition: transform 0.4s ease; // Add transition for smooth animation
  }

    .title{
        font-family: Helvetica Neue;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 2.6700000762939453px;
        text-align: left;
        @include desktop {
          font-size: 40px;
          line-height: 47px;
          font-style: normal;
          text-align: center;

        }
    }
    
    .restaurant-img{
        width: 100%;
        //height: 152px;
        @include desktop {
          height: 100%;
          width: 100%;
        }
    }

    //bottom component:  
    .chef-name{
        height: 25px;
        margin-top: 10px;
        font-family: Helvetica Neue;
        font-size: 16px;
        font-weight: 200;
        line-height: 20px;
        letter-spacing: 1.9700000286102295px;
        text-align: left;
        color: rgba(0, 0, 0, 1);
        @include desktop{
          text-align: center;
        }
    }

    .stars-rating{
        @include mobile {
            display: none;
          }
    }

    .description-icon-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        @include desktop {
          gap: 18px;
        }

        .icon-image{
          width: 30px;
          margin-top: 10px;
          margin-left: auto;
          margin-right: auto; 
          @include desktop{
            width: 45px;
          }
        }
  
          .dish-description {
            font-family: "Helvetica Neue";
            color: black;
            line-height: normal;
            font-weight: 200;
            font-style: normal;
            margin: 0px;
            width: 209px;
            height: 100px;
            margin: 0;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 1.97px;
            overflow-y: scroll;
            scrollbar-width: none;
            // &::-webkit-scrollbar {
            //   display: none;
            // }
            @include desktop {
              width: 295px;
              height: 123px;
              font-size: 24px;
              line-height: 30px;
              font-style: normal;
            }
          }
  
        .card-price {
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 1.97px;
          display: flex;
          align-items: flex-end;
          font-style: normal;
          .value-logo-container {
            display: flex;
            flex-direction: row;
            gap: 4px;
          }
          @include desktop {
            justify-content: center;
            font-size: 24px;
            line-height: 30px;
            font-weight: 200;
            flex-direction: row;
            gap: 8px;
            .line {
              width: 112px;
              height: 0.5px;
              background: grey;
              align-self: center;
            }
            .value-logo-container {
              display: flex;
              flex-direction: row;
              .ils-icon {
                align-self: flex-end;
                width: 14px;
                height: 19px;
              }
            }
          }
        }
      }
    
}