@import '../../styles/mixin.scss';


.header{
    font-family: "Helvetica Neue";
    color: black;
    line-height: normal;
    font-weight: 200;
    font-style: normal;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    @include desktop{
        padding: 0px 132px;
    }

    .hamburger-menu{
        cursor: pointer;
        @include desktop{
            display: none;
        }
    }

    .logo-and-links-container{
        display: flex;
    }

    .epicure-logo {
        display: inline-block;
        width: 40px; 
    }

    .epicure-logo-2 {
        display: none;
        @include desktop {
            display: inline-block;
            margin-right: 20px; 
            margin-left: 10px;
            color: hsl(0, 0%, 2%); 
            text-decoration: none; 
            padding: 5px 10px; 


        }
    }

    .navbar-links {

        display: none;
        @include desktop{
            position: static; 
            display: flex; 
            align-items: center;
            z-index: 10;
            padding: 10px 0; 
            //margin-right: 500px;
            margin-right: 0;
            a {
                color: hsl(0, 0%, 2%); 
                text-decoration: none; 
                padding: 5px 10px; 
                &:hover {
                    background-color: #ddd;
                }
            }
        }

        &.open {
            @include mobile { 
                display: flex;
                position: absolute; /* Position menu absolutely when open on desktop */
                top: calc(100% + 10px); /* Position menu below header with some spacing */
                left: 0;
                right: 0;
                background-color: #1376d9; /* Background color */
                padding: 10px 0; /* Add padding for better spacing */
                flex-direction: row; /* Stack links horizontally */
                justify-content: space-between; /* Adjust spacing between links on desktop */
                width: auto; /* Auto width on desktop */
            }
        }
    }

    .navbar-icons {
        display: flex;
        align-items: center;
        gap:20px;
        img {
            margin-right: 10px; 
            cursor: pointer;

            &:hover {
                background-color: #ddd;
            }
        }
    }
}