@import '../../styles/mixin.scss';

.icons-container {

    display: flex;
    flex-direction: column;
    padding-top: 24px;
    margin-top: 46px;
    align-items: center;
    gap: 32px;
    height: 560px;
    background: #FAFAFA;
    @include desktop {
      margin-top: 0;
      height: 265px;
      padding-top: 39px;
    }

    .icons-title{
        font-family: "Helvetica Neue";
        color: black;
        line-height: normal;
        font-weight: 200;
        font-style: normal;
        margin: 0px;
        font-size: 18px;
        line-height: 35px;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        @include desktop {
        font-size: 30px;
        letter-spacing: 2.14px;
        }
    }

    .icons{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 56px;
        @include desktop {
          flex-direction: row;
          justify-content: center;
          gap: 40px;
        }

        .icon{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            @include desktop {
              width: 136px;
              height: 127px;
            }

            .icon-content {
              position: relative;
            }
          
            .icon-content:hover .image {
                transform: rotate(360deg);
                transition: transform 0.5s ease;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
            }

            .icon-content .name {
              transition: transform 0.5s ease; 
            }
          
            .icon-content:hover .name {
              transform: scale(1.1); 
            }

            .image{
                @include desktop {
                    width: 76.948px;
                    height: 57.445px;
                  }
            }

            .name{
                font-family: "Helvetica Neue";
                color: black;
                line-height: normal;
                font-weight: 200;
                font-style: normal;
                margin: 0px;
                height: 35px;
                font-size: 18px;
                line-height: 30px;
                letter-spacing: 1.97px;
                @include desktop {
                  padding: 0;
                  font-size: 24px;
                }
            }
        }
    }

}